@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=IM+Fell+French+Canon&family=Nunito:wght@400;700&family=Press+Start+2P&family=Reenie+Beanie&family=Sigmar+One&family=Supermercado+One&family=Varela+Round&display=swap');

body {
    font-family: 'IM Fell French Canon', serif;
}

#showcase {
    background-image: url(Images/header-long.jpg);
    height: 95vh;
    background-size: cover;
    background-position: center;
    color: blanchedalmond;
}

/* Media queries */
@media (max-width: 768px) {
    #showcase {
        background-image: url(Images/header-tall.jpg);
        padding: 0 100px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .card-text {
        height: 110px;
    }
}
@media (min-width: 1200px) {
    .card-text {
        height: 90px;
    }
}
@media (min-width: 1400px) {
    .card-text {
        height: 70px;
    }
}